.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: aliceblue;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.login-button {
  margin-left: auto;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.login-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: aliceblue;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.4s ease;
}

.login-button:hover::after {
  width: 100%;
}

.login-button:hover {
  background-color: black;
  color: white;
}
